{{!-- {{ errorMessage }}

<form action="/movies" method="post">
<input type="text" name="movieName" placeholder="favourite movie"> 
<input type="text" name="actor" placeholder="lead actors/actresses"> 
<input type="text" name="releaseDate" placeholder="release date"> 
<input type="text" name="rating" placeholder="rotten tomatoes rating"> 
<input type="text" name="stream" placeholder="available streaming methods"> 
<input type="submit" value="submit">
</form> --}}

{{errorMessage}}

<form action="/movies" method="post">
<input type="text" name="movieName" placeholder="favourite movie">
<input type="text" name="actor" placeholder="lead actors/actresses">
<input type="text" name="releaseDate" placeholder="release date">
<input type="text" name="rating" placeholder="rotten tomatoes rating">
<input type="text" name="stream" placeholder="available streaming methods">
<input type="submit" value="submit">
</form>